[class*="col-"] {
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
[class*="col-"] {
  float: left;
  padding: 10px;
  margin-right: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.67%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.67%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.67%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.67%}
.col-12 {width: 100%}
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CCFFCC;
}

.col-9 {
  background-color: #FF9900;
}

#att_1 {
  min-height: 450px;
}

header {
  width: 100%;
  height: 200px;
  background-image: url('annashoeve760.jpg');
  background-size: cover;
}
}

@media only screen and (min-width: 768px) {
header {
  width: 100%;
  height: 200px;
  background-image: url('annashoeve990.jpg');
  background-size: cover;
}
}

@media only screen and (min-width: 992px) {
header {
  width: 100%;
  height: 200px;
  background-image: url('annashoeve1200.jpg');
  background-size: cover;
}
}

@media only screen and (min-width: 1200px) {
header {
  width: 100%;
  height: 200px;
  background-image: url('annashoeve3840.jpg');
  background-size: cover;
}
}

h1 {
  text-align: center;
  padding: 60px;
  color: #FFFFFF;
}

img.img_norm {
  float: right;
  margin-left: 10px;
  width: 65%;
  max-width: 600px;
  border-radius: 10px;
}
